---
const { title } = Astro.props;
---

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{title}</title>
<!--begin::Primary Meta Tags-->
<meta
	name="viewport"
	content="width=device-width, initial-scale=1,user-scalable=no"
/>
<meta name="title" content={title} />
<meta name="author" content="Max Qian" />
<meta name="description" content="Lithium Web Client" />
<meta
	name="keywords"
	content="astro, opensrc, lithium, web, client, admin, dashboard, template, template engine, web template, web template engine, web template engine for web, web template engine for web development, web template engine for web development, web template engine for web development, web template engine for web development, web template engine for web development, web template engine for web development, web template engine for web development, web template engine for web development, web template engine for web development, web template engine for web development, web template engine for web development, web template engine for web development, web template engine for web development, web template engine for web development, web template engine for web development, web template engine for web development,"
/>
<!--end::Primary Meta Tags-->
<!-- begin::Favicon -->
<link rel="icon" sizes="16x16" type="image/icon" href="/textures/icon.ico" />
<!-- end::Favicon -->
<!--begin::Third Party Plugin(OverlayScrollbars)-->
<!-- Font Awesome -->
<link rel="stylesheet" href="/css/fontawesome/fontawesome.min.css" />
<!-- Theme style -->
<link rel="stylesheet" href="/css/adminlte.min.css" />
<!-- overlayScrollbars -->
<link
	rel="stylesheet"
	href="../../node_modules/overlayscrollbars/css/OverlayScrollbars.min.css"
/>
<!-- Loading animation -->
<link rel="stylesheet" href="/css/client/loading.css" />
<!--end::Required Plugin(AdminLTE)-->
