---
import Credits from "../../components/_credits.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,user-scalable=no"
    />

    <title>Lithium Web</title>

    <link
      rel="icon"
      sizes="16x16"
      type="image/icon"
      href="/textures/icon.ico"
    />

    <link rel="stylesheet" type="text/css" href="/css/client/index.css" />

    <script src="/js/client/particles.min.js" is:inline></script>
  </head>

  <body>
    <div id="particles-js"></div>
    <div id="welcome">
      <h1>Welcom to Lithium</h1>
      <p>
        Using Lithium, you can control your telescope and camera from anywhere
        in the<br />Just click the button below to connect to your telescope.
        Then you can enjoy the beauty of the sky!
      </p>
      <a id="connect" href="/client">Web Client</a>
      <p style="width:70%;display:block;float:left;">
        Many of the new features is waiting for you to try!
      </p>
      <p
        id="version"
        style="font-size:1.5em;font-weight:bold;width:30%;display:block;float:left;text-align:right;"
      >
      </p>
      <div id="credits">
        <a style="vertical-align:top;">Thanks to:</a>
      </div>
      <a id="logo" href="https://lightapt.cn/" target="_blank" rel="noopener"
        >v1.0.0</a
      >
    </div>
  </body>
  <Credits></Credits>
  <script is:inline>
    particlesJS.load("particles-js", "/json/particles.json", function () {
      console.log("callback - particles.js config loaded");
    });
  </script>
</html>
