<!--

   Copyright(c) 2022-2023 Max Qian  <lightapt.com>

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
-->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">

    <title>忘记密码</title>

    <link rel="icon" sizes="16x16" type="image/icon" href="/textures/icon.ico">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/fontawesome/fontawesome.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="../../node_modules/overlayscrollbars/css/OverlayScrollbars.min.css" />

</head>

<body class="hold-transition login-page dark-mode">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <b>Light</b>APT
            </div>
            <div class="card-body">
                <p class="login-box-msg">密码忘了怎么办？凉拌炒鸡蛋！</p>
                <form action="recover-password.html" method="post">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">重置密码</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <br>
                <p class="mt-3 mb-1">
                    <a href="/user/login">登录</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->

    <!-- jQuery -->
    <script src="../../node_modules/jquery/dist/jquery.min.js" is:inline></script>
    <!-- Bootstrap 4 -->
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" is:inline></script>
    <!-- overlayScrollbars -->
    <script src="../../node_modules/overlayscrollbars/js/jquery.overlayScrollbars.min.js" is:inline
    ></script>
    <script is:inline>
        $(function () {
            $("body").overlayScrollbars({});
        });
    </script>
    <!-- AdminLTE App -->
    <script src="/js/adminlte.min.js" is:inline></script>

</body>

</html>