---
import Head from "../../../components/_head.astro";
import Scripts from "../../../components/_scripts.astro";
const title = "Bug Report";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <Head title={title} />
    </head>
    <!-- Body Part -->

    <body
        class="hold-transition sidebar-mini layout-fixed dark-mode"
        data-panel-auto-height-mode="height"
    >
        <!-- Content Wrapper. Contains page content -->
        <div class="wrapper">
            <section class="content">
                <div class="container-fluid">
                    <!-- Default box -->
                    <div class="card">
                        <div class="card-body row">
                            <div
                                class="col-5 text-center d-flex align-items-center justify-content-center"
                            >
                                <div class="">
                                    <h2>Light<strong>APT</strong></h2>
                                    <p class="lead mb-5">
                                        Email: astro_air@126.com<br />
                                    </p>
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="form-group">
                                    <label for="inputName">Name</label>
                                    <input
                                        type="text"
                                        id="inputName"
                                        class="form-control"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail">Email</label>
                                    <input
                                        type="email"
                                        id="inputEmail"
                                        class="form-control"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="inputSubject">Bug</label>
                                    <input
                                        type="text"
                                        id="inputSubject"
                                        class="form-control"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="inputMessage">Message</label>
                                    <textarea
                                        id="inputMessage"
                                        class="form-control"
                                        rows="4"></textarea>
                                </div>
                                <div class="form-group">
                                    <input
                                        type="submit"
                                        class="btn btn-primary"
                                        value="Send"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <Scripts>
        <script is:inline>
            $(function () {
                $("body").overlayScrollbars({});
            });
        </script>
    </body>
</html>