---
import Head from "../../../components/_head.astro";
import Scripts from "../../../components/_scripts.astro";
const title = "Lithium License";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head title={title} />
  </head>

  <!-- Body Part -->
  <body
    class="hold-transition sidebar-mini layout-fixed dark-mode"
    data-panel-auto-height-mode="height"
  >
    <div class="wrapper">
      <!-- Main content -->
      <section class="content" data-widget="iframe">
        <div class="container-fluid">
          <h2 class="text-center">User Agreement</h2>

          <p>
            Please read and understand all the rights and restrictions specified in this "Software License Agreement" (hereinafter referred to as the "Agreement"). Unless you accept the terms of this Agreement, you are not authorized to download, install, or use the "Software" and its related services. Once you install, copy, download, access, or otherwise use this software product, it will be deemed as acceptance of this Agreement, indicating that you agree to be bound by all the terms of this Agreement. If you do not agree to the terms of this Agreement, do not install, copy, or use this software.
          </p>

          <h4>1. Rights Declaration</h4>

          <p>
            All intellectual property rights of this "software," as well as all information content related to the "software," including but not limited to: text expressions and their combinations, icons, graphics, images, charts, colors, interface design, layout framework, relevant data, additional programs, printed materials, or electronic documents, are owned by the author and are protected by copyright laws, international copyright treaties, and other intellectual property laws and regulations.
          </p>

          <h4>2. License Scope</h4>

          <p>
            2.1
            Download, installation, and use: This software is free software, and users can download, install, and use this software without restrictions for non-commercial purposes and an unlimited number of times.
          </p>

          <p>
            2.2
            Copy, distribute, and transmit: Users can copy, distribute, and transmit this software product without restrictions for non-commercial purposes and an unlimited number of times. However, it must be ensured that each copy, distribution, and transmission is complete and authentic, including all software, electronic documents, copyrights, trademarks, and this agreement.
          </p>

          <h4>3. Rights Restrictions</h4>

          <p>
            3.1
            Prohibition of reverse engineering, decompilation, and disassembly: Users are not allowed to reverse engineer, decompile, or disassemble this software product, nor may they alter any resources compiled in program files. Unless expressly permitted by law or regulations, users must comply with the restrictions in this agreement.
          </p>

          <p>
            3.2
            Component separation: This software product is licensed for use as a single product, and users must not separate its components for any purpose.
          </p>

          <p>
            3.3 Individual authorization: For commercial sales, copying, distribution, including but not limited to software sales, pre-installation, and bundling, authorization and permission from the author are required.
          </p>

          <p>
            3.4
            Reservation of rights: All other rights not expressly authorized by this agreement remain with the author, and users must obtain written consent from the author when using other rights.
          </p>

          <h4>4. User Usage Notes</h4>

          <p>
            4.1
            This software provides functions core to astronomical equipment control, supplemented by some remote desktop, SSH, and other functions. Device control is based on ASCOM and INDI.
          </p>

          <p>
            4.2
            This software is applicable to Windows, MacOS, and Linux. The software can run automatically with the operating system to provide all services at any time and reduce response time. If the user wishes to discontinue use for any reason after installing this software, the software can be removed.
          </p>

          <p>4.3 This software is supported by the author.</p>

          <p>
            4.4
            Modification and upgrade of the software: The author reserves the right to provide modified and upgraded versions of this software to users. The update process requires an internet connection, while the rest of the usage process can be offline.
          </p>

          <p>
            4.5
            This software does not contain any malicious code intended to destroy computer data or obtain user privacy information, nor does it contain any code to track or monitor user computer behavior, collect personal information about the user's use of other software or documents, or disclose user privacy.
          </p>

          <p>
            4.6
            Users should use this software under the premise of compliance with the law and this agreement. Users are not authorized to engage in, including but not limited to, the following behaviors. If such actions are taken, the user will bear all subsequent consequences:
          </p>

          <p>4.6.1 Do not delete or alter the electronic rights management information on this software;</p>

          <p>
            4.6.2
            Do not intentionally circumvent or destroy technical measures taken by the copyright owner to protect the copyright of this software;
          </p>

          <p>4.6.3 Users shall not deceive or mislead others using this software;</p>

          <p>
            4.6.4
            Violate national regulations by deleting, modifying, adding, or interfering with the functions of computer information systems, causing the computer information system to malfunction,
          </p>

          <p>
            4.6.5
            Enter a computer information network or use computer information network resources without permission
          </p>

          <p>
            4.6.6
            Without permission, make deletions, modifications, or additions to the functions of a computer information network;
          </p>

          <p>
            4.6.7
            Without permission, make deletions, modifications, or additions to the data and applications stored, processed, or transmitted in a computer information network;
          </p>

          <p>
            4.6.8
            Disrupt the normal operation of this software system or website, intentionally spread destructive programs such as computer viruses;
          </p>

          <p>4.6.9 Any other actions that endanger the security of the computer information network.</p>

          <p>
            4.7
            For this software product downloaded from non-designated sites by the author or obtained from non-issued media by the author, the author cannot guarantee whether the software is infected with computer viruses, hidden Trojan horse programs, or hacker software. Using such software may lead to unpredictable risks. It is recommended that users do not easily download, install, or use such software, and the author does not assume any legal liability for any resulting consequences.
          </p>

          <p>
            4.7.1
            Users are not allowed to use this software to publish illegal advertisements that violate national laws, such as pornography, gambling, etc. Any consequences arising from this are not related to the author. Please consciously create a harmonious and benign online marketing environment. Once illegal behavior is discovered, the author has the right to terminate services and pursue legal responsibilities.
          </p>

          <p>
            4.8
            Privacy protection: In order to improve the software and services, certain network check functions may be added in the future, subject to modification based on subsequent situations, and the author reserves the right to modify them.
          </p>

          <h4>5. Disclaimer and Liability Limitation</h4>

          <p>
            5.1
            This software has undergone detailed testing but cannot guarantee full compatibility with all software and hardware systems, nor can it guarantee that the software is completely error-free. In the event of compatibility issues and software errors, users can report the situation to the author on the software's official website forum to receive technical support. If compatibility issues cannot be resolved, users can delete the software.
          </p>

          <p>
            5.2
            Users bear the risk of using this software product. To the fullest extent permitted by applicable law, the author assumes no responsibility for any damages and risks arising from the use or inability to use this software, including but not limited to direct or indirect personal damage, equipment damage, or any other economic losses.
          </p>

          <p>
            5.3
            The author is not responsible for any losses arising from telecommunication system or internet network failures, computer malfunctions or viruses, information damage or loss, computer system problems, or any other force majeure reasons.
          </p>

          <p>
            5.4
            If a user violates the provisions of this agreement and causes harm to the author's company, the author has the right to take measures including but not limited to interrupting the license, ceasing to provide services, restricting usage, and legal pursuit.
          </p>

          <h4>6. Legal and Dispute Resolution</h4>

          <p>6.1 This agreement is governed by the laws of the People's Republic of China.</p>

          <p>
            6.2
            Any dispute arising from or in connection with this agreement should be resolved through friendly negotiation. If negotiation fails, any party may submit the dispute to an arbitration commission and arbitrate according to its then-effective arbitration rules. The arbitral award is final and binding on all parties.
          </p>

          <h4>7. Other Terms</h4>

          <p>
            7.1
            If any provision in this agreement is wholly or partially invalid or unenforceable for any reason, or violates any applicable law, the provision shall be deemed deleted, but the remaining provisions of this agreement shall remain valid and binding.
          </p>

          <p>
            7.2
            The author has the right to modify this agreement in accordance with changes in relevant laws and regulations, as well as adjustments to the company's operating conditions and strategies. The modified agreement will be attached to the new version of the software. In the event of disputes, the latest agreement text shall prevail. If the user does not agree with the changes, they can delete the software on their own. If the user continues to use the software, it is deemed that they accept the changes to this agreement.
          </p>

          <p>
            7.3
            The author reserves all rights to interpret and modify this agreement to the extent permitted by law.
          </p>

          <button
            type="button"
            class="btn btn-sm btn-outline-danger btn-block"
            onclick="window.open('/register')">Agree and Return</button
          >
        </div>
      </section>
    </div>

    <Scripts>
    <script is:inline>
      $(function () {
        $("body").overlayScrollbars({});
      });
    </script>
  </body>
</html>
