<!--

   Copyright(c) 2022-2023 Max Qian  <astroair.cn>

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
--><!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1,user-scalable=no"
		/>

		<title>Skymap</title>

		<link
			rel="icon"
			sizes="16x16"
			type="image/icon"
			href="/textures/icon.ico"
		/>

		<!-- Font Awesome -->
		<link
			rel="stylesheet"
			href="/css/fontawesome/fontawesome.min.css"
		/>
		<!-- Theme style -->
		<link rel="stylesheet" href="/css/bootstrap5/mdb.dark.min.css" />
		<!-- Theme style -->
		<link rel="stylesheet" href="/css/adminlte.min.css" />

		<!-- overlayScrollbars -->
		<link
			rel="stylesheet"
			href="/css/plugins/OverlayScrollbars.min.css"
		/>
		<!-- Aladin Minify css -->
		<link rel="stylesheet" href="/css/skymap/aladin.min.css" />
		<!-- Skymap css -->
		<link rel="stylesheet" href="/css/skymap/skymap.css" />
		<!-- Loading animation -->
		<link rel="stylesheet" href="/css/client/loading.css" />
	</head>

	<body style="height: auto;" class="dark-mode">
		<!-- loading开始 -->
		<div id="loading-animation">
			<div id="loading-animation-center">
				<div id="loading-animation-center-absolute">
					<div class="loading_object" id="loading_four"></div>
					<div class="loading_object" id="loading_three"></div>
					<div class="loading_object" id="loading_two"></div>
					<div class="loading_object" id="loading_one"></div>
				</div>
			</div>
		</div>
		<script>
			!(function () {
				function e() {
					setTimeout(() => {
						$("#loading-animation").fadeOut(540);
					}, 500);
				}
				window.jQuery
					? $(document).ready(() => {
							e();
					  })
					: (document.onreadystatechange = () => {
							"interactive" === document.readyState && e();
					  });
			})();
		</script>
		<!-- loading 结束 -->

		<div class="wrapper">
			<!-- Main content -->
			<section class="content" data-widget="iframe">
				<div class="container-fluid">
					<!-- VFov Row-->
					<div class="row" id="aladinRow">
						<div class="col px-lg-1 px-xl-2 mb-xl-4 mb-2">
							<!-- Card -->
							<div
								class="card elegant-color h100 card-default card-primary"
							>
								<div class="card-header">
									<div class="card-title">
										<i class="fas fa-expand mr-2"></i>
										 星图
									</div>
								</div>
								<!-- Card content -->
								<div class="card-body">
									<div class="row">
										<div class="col-lg-8 px-lg-2">
											<div class="row m-0 p-0 mb-1">
												<div id="aladin-lite-div"></div>
											</div>

											<div class="row m-0 p-0 mb-1">
												<div
													class="col-lg-6 m-0 pt-lg-2 pr-lg-2 p-0"
												>
													<div
														class="mosaicInputContainer"
													>
														<ul
															class="list-group bg-dark mt-1"
														>
															<li
																class="list-group-item bg-dark d-flex align-items-center justify-content-between py-2 px-1 mount-panel-item"
															>
																<div
																	class="col-8 px-1"
																>
																	<span
																		class="text-center m-auto text-muted"
																	>
																		<i
																			class="fas fa-th-large mx-2"
																		>
																		</i>虚拟马赛克设置
																	</span>
																</div>
																<div
																	class="col-4 p-0"
																>
																	<button
																		id="resetMOS"
																		class="btn btn-sm btn-blue-grey reset-btn mx-1 my-0 py-1 px-2 waves-effect waves-light"
																	>
																		<i
																			class="fas fa-expand mr-1"
																		>
																		</i>重置
																	</button>
																</div>
															</li>
														</ul>
														<div
															id="mosaicSetCont"
															class="mb-1"
														>
															<ul
																class="list-group bg-dark mt-0"
															>
																<li
																	class="list-group-item bg-dark py-2 px-1"
																>
																	<div
																		class=""
																	>
																		<div
																			class="m-auto tileNumContainer"
																		>
																			<div
																				class="text-muted mount-panel-item mb-2"
																			>
																				马赛克数量
																			</div>
																			<div
																				class="col-auto d-flex flex-row m-auto"
																			>
																				<div
																					class="align-self-start space41"
																				>
																				</div>
																				<div
																					class="text-center mx-2"
																				>
																					<select
																						class="browser-default custom-select custom-select-sm bg-dark text-white border-sx-blueVoy text-center selectTiles"
																						id="mosWnum"
																					>
																						<option
																							selected
																							value="1"
																							>1
																						</option>
																						<option
																							value="2"
																							>2</option
																						>
																						<option
																							value="3"
																							>3</option
																						>
																						<option
																							value="4"
																							>4</option
																						>
																						<option
																							value="5"
																							>5</option
																						>
																						<option
																							value="6"
																							>6</option
																						>
																						<option
																							value="7"
																							>7</option
																						>
																						<option
																							value="8"
																							>8</option
																						>
																						<option
																							value="9"
																							>9</option
																						>
																						<option
																							value="10"
																							>10</option
																						>
																					</select>
																				</div>
																				<div
																					class="m-auto"
																				>
																					x
																				</div>
																				<div
																					class="text-center mx-2"
																				>
																					<select
																						class="browser-default custom-select custom-select-sm bg-dark text-white border-sx-blueVoy text-center selectTiles"
																						id="mosHnum"
																					>
																						<option
																							selected
																							value="1"
																							>1
																						</option>
																						<option
																							value="2"
																							>2</option
																						>
																						<option
																							value="3"
																							>3</option
																						>
																						<option
																							value="4"
																							>4</option
																						>
																						<option
																							value="5"
																							>5</option
																						>
																						<option
																							value="6"
																							>6</option
																						>
																						<option
																							value="7"
																							>7</option
																						>
																						<option
																							value="8"
																							>8</option
																						>
																						<option
																							value="9"
																							>9</option
																						>
																						<option
																							value="10"
																							>10</option
																						>
																					</select>
																				</div>

																				<div
																					class="align-self-end"
																				>
																					<button
																						id="mosaCopyBtn"
																						class="btn btn-sm btn-deep-purple reset-btn px-3 m-auto"
																						data-clipboard-text=""
																						data-toggle="tooltip"
																						data-placement="top"
																						title="Copy CSV to Clipboard"
																					>
																						<i
																							class="fas fa-copy"
																						>
																						</i>
																					</button>
																				</div>
																			</div>
																		</div>

																		<div
																			class="text-muted align-self-center mt-xs-3 mt-3 slider-fdb-label mount-panel-item"
																		>
																			区域重复度

																			<span
																				id="overlapVal"
																				class="text-danger font-weight-bold px-1"
																				>0%</span
																			>
																		</div>

																		<div
																			class="slidecontainer w-75 m-auto"
																			id="sliderOverlapCont"
																		>
																			<input
																				type="range"
																				min="0"
																				max="40"
																				value="10"
																				class="slider active"
																				id="fdb-mosOverlap"
																			/>
																			<span
																				class="thumb"
																			>
																				<span
																					class="value"
																				>
																				</span>
																			</span>
																		</div>
																	</div>
																	<div
																		class="input-group mt-3"
																	>
																		<span
																			class="mount-panel-item w-100 text-center text-muted"
																		>
																			马赛克图像旋转模式
																		</span>
																		<div
																			class="switch blindSwitch m-auto"
																		>
																			<label
																			>
																				<div
																					class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
																				>
																					<span
																						class="labelMosSwitch right-align"
																						>Fixed</span
																					>
																					<input
																						type="checkbox"
																						class="advancedAngleSwitchInput custom-control-input"
																						data-bootstrap-switch
																						data-off-color="danger"
																						data-on-color="success"
																					/>
																					<!--<span class="lever"></span>-->
																					<span
																						class="labelMosSwitch left-align"
																						>Adjusted</span
																					>
																				</div>
																			</label>
																		</div>
																	</div>
																	<div
																		class="row collapse px-2"
																		id="rotationAdjDesc"
																	>
																		<div
																			class="col pr-2 pl-2"
																		>
																			<small
																				id="messageMosaicHelp"
																				class="form-text text-muted text-justify mount-panel-item"
																				>In

																				<span
																					class="text-primary"
																					>Fixed
																				</span>tiles
																				rotation
																				mode,
																				the
																				single
																				tiles
																				will
																				drawn
																				with
																				<strong
																					>real
																					world
																					rotation</strong
																				>
																				to
																				simulate
																				your
																				FoV
																				according
																				to
																				equatorial
																				system
																				with
																				reference
																				to
																				the
																				Pole.
																				This
																				allows
																				a
																				better
																				evaluation
																				of
																				needed
																				overlap
																				to
																				avoid
																				holes
																				in
																				the
																				mosaic.</small
																			>
																		</div>
																		<div
																			class="col pl-2 pr-2"
																		>
																			<small
																				id="messageMosaicHelp2"
																				class="form-text text-muted text-justify mount-panel-item"
																				>In

																				<span
																					class="text-danger"
																					>Adjusted
																				</span>tile
																				rotation
																				mode,
																				useful
																				if
																				you
																				have
																				a
																				camera
																				rotator,
																				the
																				Mosaic
																				will
																				be
																				perfectly
																				drawn
																				aligned,
																				also
																				near
																				the
																				Pole,
																				saving
																				single
																				tiles
																				<strong
																					>adjusted
																					PA</strong
																				>
																				into
																				tiles
																				data.</small
																			>
																		</div>
																	</div>
																	<button
																		id="moreInfoRotBtn"
																		class="btn btn-sm btn-outline-blue-grey reset-btn mx-3 my-1 py-1 px-2 waves-effect waves-light"
																		data-toggle="collapse"
																		data-target="#rotationAdjDesc"
																		>More
																		info
																		about
																		Rotation
																		adjust</button
																	>
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div
													class="col-lg-6 pt-lg-2 pt-lg-2 p-0"
												>
													<div>
														<ul
															class="list-group bg-dark mt-1"
														>
															<li
																class="list-group-item bg-dark mount-panel-item p-1"
															>
																<small
																	class="text-muted"
																>
																	<span
																		class="d-none d-sm-inline-block mount-panel-item"
																	>
																		<i
																			class="fas fa-sun"
																		></i>
																		 图像亮度
																	</span>
																</small>
																<div
																	class="slidecontainer"
																	id="sliderContBrightness"
																>
																	<input
																		type="range"
																		min="100"
																		max="500"
																		value="100"
																		class="slider"
																		id="fdb-brightness"
																	/>
																</div>
															</li>
														</ul>
														<ul
															class="list-group bg-dark mt-1"
														>
															<li
																class="list-group-item bg-dark d-flex align-items-center justify-content-between py-2 px-1 mount-panel-item"
															>
																<div
																	class="col-8 px-1"
																>
																	<span
																		class="d-none d-sm-inline-block mount-panel-item text-muted"
																	>
																		<i
																			class="fas fa-ballot"
																		></i>
																		 选择视场文件
																	</span>
																</div>
																<div
																	class="col-4 p-0"
																>
																	<div
																		class="input-group justify-content-center"
																	>
																		<button
																			class="btn btn-sm deep-purple z-depth-0 dropdown-toggle reset-btn rounded"
																			id="profile-btn-id"
																			type="button"
																			data-toggle="dropdown"
																			aria-haspopup="true"
																			aria-expanded="false"
																			>选择</button
																		>
																		<div
																			class="dropdown-menu dropdown-menu-left dropdown-menu-profile dark text-dark text-uppercase extraSmallText"
																			id="profileMenuSelId"
																		>
																		</div>
																	</div>
																</div>
															</li>
														</ul>
														<ul
															class="list-group bg-dark mt-1"
														>
															<li
																class="list-group-item bg-dark mount-panel-item p-1"
															>
																<div
																	class="card bg-dark collapsed-card"
																>
																	<div
																		class="card-header"
																	>
																		<h5
																			class="card-title"
																		>
																			<span
																				class="d-none d-sm-inline-block mount-panel-item text-muted"
																			>
																				<i
																					class="fas fa-edit"
																				>
																				</i>

																				视场文件编辑器
																			</span>
																		</h5>

																		<div
																			class="card-tools"
																		>
																			<button
																				type="button"
																				class="btn btn-tool"
																				data-card-widget="collapse"
																				title="Collapse"
																			>
																				<i
																					class="fas fa-minus"
																				>
																				</i>
																			</button>
																		</div>
																	</div>
																	<div
																		class="card-body"
																	>
																		<div
																			class="row mt-1"
																		>
																			<div
																				class="col-sm-6"
																			>
																				<input
																					class="form-control form-control-sm"
																					type="number"
																					id="focal_length"
																					min="0"
																					placeholder="望远镜焦距"
																				/>
																			</div>
																			<div
																				class="col-sm-6"
																			>
																				<input
																					class="form-control form-control-sm"
																					type="number"
																					id="sensor_pixel_size"
																					min="0"
																					placeholder="传感器像素大小"
																				/>
																			</div>
																		</div>
																		<div
																			class="row mt-1"
																		>
																			<div
																				class="col-sm-6"
																			>
																				<input
																					class="form-control form-control-sm"
																					type="number"
																					id="sensor_width"
																					min="0"
																					placeholder="传感器宽度"
																				/>
																			</div>
																			<div
																				class="col-sm-6"
																			>
																				<input
																					class="form-control form-control-sm"
																					type="number"
																					id="sensor_height"
																					min="0"
																					placeholder="传感器高度"
																				/>
																			</div>
																		</div>
																		<div
																			class="row mt-2"
																		>
																			<div
																				class="col-sm-6"
																			>
																				<button
																					type="button"
																					id="fov_setting_btn"
																					class="btn btn-block btn-success"
																				>
																					<i
																						class="fas fa-gear"
																					>
																					</i>

																					设置
																				</button>
																			</div>
																			<div
																				class="col-sm-6"
																			>
																				<button
																					type="button"
																					class="btn btn-block btn-danger"
																				>
																					<i
																						class="fas fa-undo"
																					>
																					</i>

																					重置
																				</button>
																			</div>
																		</div>
																	</div>
																	<!-- /.card-body -->
																</div>
																<!-- /.card -->
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>

										<div class="col-lg-4 px-lg-2">
											<div class="mb-2">
												<div class="input-group d-flex">
													<input
														type="text"
														class="form-control form-control-sm text-white text-center bg-dark border-sx-blueVoy mr-lg-1 searchField"
														id="inputsearch"
														placeholder="在星图中搜索天体或坐标"
														onkeypress="return aladinFindOnReturn(event)"
													/>
													<button
														id="search_com"
														class="btn btn-sm btn-primary reset-btn m-0"
														>搜索</button
													>
												</div>
												<span
													class="mount-panel-item text-muted text-center"
													>支持的坐标格式: 00 42
													44.330, +41 16 7.50</span
												>
											</div>
											<div
												class="input-group-append mb-2"
											>
												<button
													id="getTelescopeCoord"
													class="btn btn-sm btn-outline-primary m-1 btn-voy-item px-2"
												>
													<i
														class="fas fa-angle-double-down mr-1"
													></i>
													 获取望远镜指向坐标
												</button>
												<button
													id="remoteSolveActualPositionFov"
													class="btn btn-sm btn-primary actBtn m-1 btn-voy-item px-2 solve-btn"
												>
													<i
														class="fas fa-map-pin mr-1"
													></i>
													 解析坐标
												</button>
											</div>

											<ul class="list-group bg-dark mb-1">
												<li
													class="list-group-item bg-dark d-flex align-items-center justify-content-around mount-panel-item px-1"
												>
													<div
														class="col p-0 text-muted"
													>
														虚拟视野中心J2000坐标
													</div>
												</li>

												<li
													class="list-group-item bg-dark d-flex align-items-center justify-content-around mount-panel-item px-1"
												>
													<div
														class="col-1 p-0 text-muted"
													>
														RA
													</div>
													<div
														class="col-4 p-1"
														id="fovsimRA"
													>
													</div>
													<div
														class="col-1 p-0 text-muted"
													>
														DEC
													</div>
													<div
														class="col-4 p-1"
														id="fovsimDEC"
													>
													</div>
													<div
														class="col-auto float-right px-1"
													>
														<button
															id="alaCopyBtn"
															class="btn btn-sm btn-deep-purple reset-btn px-3 m-auto"
															data-clipboard-text=""
															data-toggle="tooltip"
															data-placement="top"
															title="复制到Clipboard"
														>
															<i
																class="fas fa-copy"
															></i>
														</button>
													</div>
												</li>
											</ul>
											<ul class="list-group bg-dark mb-1">
												<li
													class="list-group-item bg-dark d-flex align-items-center justify-content-around mount-panel-item px-1 py-2"
												>
													<div
														class="col-6 p-0 text-muted ml-1"
													>
														<i
															class="fas fa-drafting-compass mr-2"
														></i>
														 位置角度
													</div>
													<div class="col-2 p-1 m-0">
														<span id="paInd"></span>
													</div>
													<div class="col-4 p-0 m-1">
														<button
															id="resetPA"
															class="btn btn-sm btn-blue-grey reset-btn my-0 py-1 px-2"
														>
															<i
																class="fas fa-undo mr-1"
															></i>
															 重置
														</button>
													</div>
												</li>

												<li
													class="list-group-item bg-dark d-flex align-items-center justify-content-around mount-panel-item px-1"
												>
													<button
														id="minusPA"
														class="btn btn-sm btn-indigo reset-btn mx-1 px-3 buttonPA"
													>
														<i
															class="fas fa-angle-double-left"
														></i>
													</button>
													<button
														id="minusPAdec"
														class="btn btn-sm btn-primary reset-btn mx-0 px-3 buttonPA"
													>
														<i
															class="fas fa-angle-left"
														></i>
													</button>
													<div
														class="slidecontainer w-100 mt-1"
														id="rotateSliderCont"
													>
														<input
															class="slider d-inline-block my-2"
															type="range"
															min="0"
															max="360"
															value="0"
															id="fdb-pAng"
														/>
													</div>
													<button
														id="plusPAdec"
														class="btn btn-sm btn-primary reset-btn mx-0 px-3 buttonPA"
													>
														<i
															class="fas fa-angle-right"
														></i>
													</button>
													<button
														id="plusPA"
														class="btn btn-sm btn-indigo reset-btn mx-1 px-3 buttonPA"
													>
														<i
															class="fas fa-angle-double-right"
														></i>
													</button>
												</li>
											</ul>

											<ul class="list-group bg-dark mb-1">
												<div class="fov-data-container">
													<ul
														class="list-group bg-dark mb-2"
													>
														<li
															class="list-group-item bg-dark d-flex align-items-center justify-content-between py-2 mount-panel-item"
														>
															<span
																class="text-center m-auto text-muted"
															>
																<i
																	class="fas fa-expand mx-2"
																>
																</i>虚拟视野配置
															</span>
														</li>
														<li
															class="list-group-item bg-dark d-flex align-items-center justify-content-between p-0"
														>
															<div
																class="col p-0"
															>
																<ul
																	class="list-group bg-dark"
																>
																	<li
																		class="list-group-item bg-dark d-flex align-items-center justify-content-around mount-panel-item px-1"
																	>
																		<div
																			class="col-3 p-0 text-muted"
																		>
																			解析力
																		</div>
																		<div
																			class="col-3"
																			id="setupReso"
																		>
																		</div>
																		<div
																			class="col-3 p-0 text-muted"
																		>
																			焦距
																		</div>
																		<div
																			class="col-3"
																			id="setupFocal"
																		>
																		</div>
																	</li>
																	<li
																		class="list-group-item bg-dark d-flex align-items-center justify-content-around mount-panel-item px-1"
																	>
																		<div
																			class="col-3 p-0 text-muted"
																		>
																			FOV
																			w
																		</div>
																		<div
																			class="col-3 text-uppercase"
																			id="fovXsize"
																		>
																		</div>
																		<div
																			class="col-3 p-0 text-muted"
																		>
																			FOV
																			h
																		</div>
																		<div
																			class="col-3"
																			id="fovYsize"
																		>
																		</div>
																	</li>
																	<li
																		class="list-group-item bg-dark d-flex align-items-center justify-content-around mount-panel-item px-1"
																	>
																		<div
																			class="col-3 p-0 text-muted"
																		>
																			传感器宽度
																		</div>
																		<div
																			class="col-3 text-uppercase i"
																			id="chipXsize"
																		>
																		</div>
																		<div
																			class="col-3 p-0 text-muted"
																		>
																			传感器高度
																		</div>
																		<div
																			class="col-3"
																			id="chipYsize"
																		>
																		</div>
																	</li>
																	<li
																		class="list-group-item bg-dark d-flex align-items-center justify-content-around mount-panel-item px-1"
																	>
																		<div
																			class="col-3 p-0 text-muted"
																		>
																			传感器横向像素数
																		</div>
																		<div
																			class="col-3 text-uppercase"
																			id="chipXsizePx"
																		>
																		</div>
																		<div
																			class="col-3 p-0 text-muted"
																		>
																			传感器纵向像素数
																		</div>
																		<div
																			class="col-3"
																			id="chipYsizePx"
																		>
																		</div>
																	</li>
																	<li
																		class="list-group-item bg-dark d-flex align-items-center justify-content-around mount-panel-item px-1"
																	>
																		<div
																			class="col-6 p-0 text-muted"
																		>
																			像素大小
																		</div>
																		<div
																			class="col-6 text-uppercase"
																			id="pixSize"
																		>
																		</div>
																	</li>
																</ul>
															</div>
														</li>
													</ul>
												</div>
											</ul>
										</div>
									</div>
								</div>

								<!-- Card footer -->
								<div
									class="card-footer text-primary text-center mt-2"
								>
									虚拟视野
								</div>
							</div>
							<!-- Card -->
						</div>
					</div>
					<!-- end Vfov Row-->
				</div>
			</section>
		</div>

		<!-- Modal container -->
		<div class="container">
			<!-- Central Modal Medium Danger -->
			<div
				class="modal fade"
				id="centralModalDanger"
				tabindex="-1"
				role="dialog"
				aria-labelledby="myModalLabel"
				aria-hidden="true"
			>
				<div
					class="modal-dialog modal-notify modal-danger"
					role="document"
				>
					<!--Content-->
					<div class="modal-content">
						<!--Header-->
						<div class="modal-header">
							<p class="heading lead" id="errorModalTitle">
								错误信息
							</p>
							<button
								type="button"
								class="close modal-voy-btn"
								data-dismiss="modal"
								aria-label="Close"
							>
								<span aria-hidden="true" class="white-text"
									>&times;</span
								>
							</button>
						</div>
						<!--Body-->
						<div class="modal-body">
							<div class="text-center">
								<i
									class="fas fa-exclamation-triangle fa-4x mb-3 animated bounceIn"
								></i>
								<p id="errorMessage" class="note note-danger">
									未知错误
								</p>
								<p id="contactMessage" class="text-muted">
									<small
										>如果你有任何问题，请将详细细节告知开发者</small
									>
								</p>
							</div>
						</div>
						<!--Footer-->
						<div class="modal-footer justify-content-center">
							<a
								class="btn btn-outline-danger modal-voy-btn"
								href="mailto:astro_air@126.com,fran.dibiase@gmail.com"
							>
								<i class="fas fa-envelope mr-1"></i>联系我们</a
							>
							<button
								type="button"
								class="btn btn-danger waves-effect modal-voy-btn"
								data-dismiss="modal"
							>
								Ok
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal container end -->

		<div class="container">
			<!-- Central Modal Medium Warning -->
			<div class="modal fade" id="modalDoubleWarning" aria-hidden="true">
				<div
					class="modal-dialog modal-notify modal-warning modal-lg"
					role="document"
				>
					<!--Content-->
					<div class="modal-content">
						<!--Header-->
						<div class="modal-header">
							<p class="heading lead" id="modalWarnTit">
								确认操作?
							</p>
							<button
								type="button"
								class="close"
								data-dismiss="modal"
								aria-label="Close"
							>
								<span aria-hidden="true" class="white-text"
									>&times;</span
								>
							</button>
						</div>
						<!--Body-->
						<div class="modal-body">
							<div class="text-center">
								<i
									class="fas fa-question fa-4x mb-3 animated rotateIn text-danger"
								></i>
								<p id="contWarnModal" class="text-warning"></p>
								<p>你确定要执行这步操作吗?</p>
							</div>
						</div>
						<!--Footer-->
						<div class="modal-footer justify-content-center">
							<div class="row">
								<div class="col-sm-6">
									<a
										type="button"
										id="confirmDoubleWarn"
										class="btn btn-sm btn-warning btn-block"
									>
										确认
										<i class="fas fa-check"></i>
									</a>
								</div>
								<div class="col-sm-6">
									<a
										type="button"
										class="btn btn-sm btn-outline-warning waves-effect btn-block"
										data-dismiss="modal"
									>
										Nope
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Central Modal Medium Warning-->
		</div>

		<!-- Container Modal -->
		<div class="container">
			<!-- Central Modal Medium Generic info -->
			<div
				class="modal fade"
				id="infoModalGeneric"
				tabindex="-1"
				role="dialog"
				aria-labelledby="myModalLabel2"
				aria-hidden="true"
			>
				<div
					class="modal-dialog modal-notify modal-info"
					role="document"
				>
					<!--Content-->
					<div class="modal-content">
						<!--Header-->
						<div class="modal-header">
							<p class="heading lead">信息</p>
							<button
								type="button"
								id="closeModalInfo"
								class="close modal-voy-btn"
								data-dismiss="modal"
								aria-label="Close"
							>
								<span aria-hidden="true" class="white-text"
									>&times;</span
								>
							</button>
						</div>

						<!--Body-->
						<div class="modal-body">
							<div class="text-center">
								<div
									class="spinner-border text-primary m-5"
									role="status"
								>
									<span class="sr-only">常规信息</span>
								</div>
								<p id="infoModalMessage" class="note note-info">
									常规消息...
								</p>
								<p id="genericMessageinfo" class="text-muted">
									<small></small>
								</p>
							</div>
						</div>
						<!--Footer-->
						<div class="modal-footer justify-content-center">
							<button
								type="button"
								class="btn btn-primary modal-voy-btn"
								data-dismiss="modal"
							>
								Ok
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- Central Modal Medium Danger-->
		</div>
		<!-- Container Modal end -->

		<!-- jQuery -->
		<script src="../../node_modules/jquery/dist/jquery.min.js" is:inline></script>
		<!-- Bootstrap 4 -->
		<script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" is:inline></script>
		<!-- AdminLTE App -->
		<script src="/js/adminlte.min.js" is:inline></script>

		<!-- Aladin Minify JS -->
		<script src="/js/skymap/aladin.min.js" is:inline></script>
		<!-- Clipboard JS -->
		<script src="../../node_modules/clipboard/dist/clipboard.min.js" is:inline></script>
		<!-- Anime JS -->
		<script src="../../node_modules/animejs/lib/anime.min.js" is:inline></script>
		<!-- Skymap JS -->
		<script src="/js/skymap/skymap.js" is:inline></script>
		<!-- overlayScrollbars -->
		<script src="../../node_modules/overlayscrollbars/js/jquery.overlayScrollbars.min.js" is:inline
		></script>
		<script is:inline>
			$(function () {
				$("body").overlayScrollbars({});
			});
		</script>
	</body>
</html>
