<!--

   Copyright(c) 2022 Max Qian  <astroair.cn>

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
--><!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>WebSSH</title>

        <link rel="icon" type="image/icon" href="/textures/icon.ico" />

        <!-- Xterm -->
        <link
            href="../../node_modules/xterm/css/xterm.css"
            rel="stylesheet"
            type="text/css"
        />
        <!-- Xterm Fullscreen Support -->
        <link
            href="/css/client/fullscreen.min.css"
            rel="stylesheet"
            type="text/css"
        />
        <!-- Font Awesome -->
        <link rel="stylesheet" href="/css/fontawesome/fontawesome.min.css" />
        <!-- Theme style -->
        <link rel="stylesheet" href="/css/adminlte.min.css" />
        <!-- Loading animation -->
        <link href="/css/client/loading.css" rel="stylesheet" />
        <!-- overlayScrollbars -->
        <link
            rel="stylesheet"
            href="../../../node_modules/overlayscrollbars/css/OverlayScrollbars.min.css"
        />

        <style scoped>
            .row {
                margin-top: 15px;
                margin-bottom: 10px;
            }

            .container {
                margin-top: 20px;
            }

            .btn {
                margin-top: 15px;
            }

            .btn-danger {
                margin-left: 5px;
            }
        </style>
    </head>

    <body class="dark-mode">
        <!-- loading开始 -->
        <div id="loading-animation">
            <div id="loading-animation-center">
                <div id="loading-animation-center-absolute">
                    <div class="loading_object" id="loading_four"></div>
                    <div class="loading_object" id="loading_three"></div>
                    <div class="loading_object" id="loading_two"></div>
                    <div class="loading_object" id="loading_one"></div>
                </div>
            </div>
        </div>
        <script is:inline>
            !(function () {
                function e() {
                    setTimeout(() => {
                        $("#loading-animation").fadeOut(540);
                    }, 500);
                }
                window.jQuery
                    ? $(document).ready(() => {
                          e();
                      })
                    : (document.onreadystatechange = () => {
                          "interactive" === document.readyState && e();
                      });
            })();
        </script>
        <!-- loading 结束 -->
        <div id="waiter" style="display: none">连接中 ...</div>

        <div class="wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="container form-container" style="display: none">
                        <form
                            id="connect"
                            action=""
                            method="post"
                            enctype="multipart/form-data"
                        >
                            <div class="row">
                                <div class="input-group input-group-sm">
                                    <div class="col">
                                        <label for="Hostname">主机</label>
                                        <input
                                            class="form-control form-control-sm"
                                            type="text"
                                            id="hostname"
                                            name="hostname"
                                            value=""
                                            required
                                        />
                                    </div>
                                    <div class="col">
                                        <label for="Port">端口</label>
                                        <input
                                            class="form-control form-control-sm"
                                            type="number"
                                            id="port"
                                            name="port"
                                            placeholder="22"
                                            value=""
                                            min="1"
                                            max="65535"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group input-group-sm">
                                    <div class="col">
                                        <label for="Username">
                                            <i class="fas fa-user"></i>
                                             用户名
                                        </label>
                                        <input
                                            class="form-control form-control-sm"
                                            type="text"
                                            id="username"
                                            name="username"
                                            value=""
                                            required
                                        />
                                    </div>
                                    <div class="col">
                                        <label for="Password">
                                            <i class="fas fa-lock"></i>
                                             密码
                                        </label>
                                        <input
                                            class="form-control form-control-sm"
                                            type="password"
                                            id="password"
                                            name="password"
                                            value=""
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group input-group-sm">
                                    <div class="col">
                                        <label for="Username">
                                            <i class="fas fa-key"></i>
                                             密钥
                                        </label>
                                        <input
                                            class="form-control form-control-sm form-control-file"
                                            type="file"
                                            id="privatekey"
                                            name="privatekey"
                                            value=""
                                        />
                                    </div>
                                    <div class="col">
                                        <label for="Passphrase">
                                            <i class="fas fa-key-skeleton"></i>
                                             密码短语
                                        </label>
                                        <input
                                            class="form-control form-control-sm"
                                            type="password"
                                            id="passphrase"
                                            name="passphrase"
                                            value=""
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group input-group-sm">
                                    <div class="col">
                                        <label for="totp">
                                            <i class="fas fa-user-secret"></i>
                                             共享密码
                                        </label>
                                        <input
                                            class="form-control form-control-sm"
                                            type="password"
                                            id="totp"
                                            name="totp"
                                            value=""
                                        />
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>
                            <input
                                type="hidden"
                                id="term"
                                name="term"
                                value="xterm-256color"
                            />
                            <div class="row">
                                <div class="col-sm-6">
                                    <button
                                        type="submit"
                                        class="btn btn-primary btn-block"
                                    >
                                        <i class="fas fa-link"></i>
                                         连接
                                    </button>
                                </div>
                                <div class="col-sm-6">
                                    <button
                                        type="reset"
                                        class="btn btn-danger btn-block"
                                    >
                                        <i class="fas fa-brush"></i>
                                         重置
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="container">
                    <div id="status" style="color: red;"></div>
                    <div id="terminal"></div>
                </div>
            </section>
        </div>

        <!-- jQuery -->
        <script src="../../node_modules/jquery/dist/jquery.min.js" is:inline
        ></script>
        <!-- Bootstrap 4 -->
        <script
            src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"
            is:inline></script>
        <!-- overlayScrollbars -->
        <script
            src="../../node_modules/overlayscrollbars/js/jquery.overlayScrollbars.min.js"
            is:inline></script>
        <!-- AdminLTE App -->
        <script src="/js/adminlte.min.js" is:inline></script>
        <script is:inline>
            $(function () {
                $("body").overlayScrollbars({});
            });
        </script>
        <!-- Popper JS -->
        <script src="../../node_modules/popper.js/dist/popper.min.js" is:inline
        ></script>
        <!-- Xterm JS -->
        <script src="../../node_modules/xterm/lib/xterm.js" is:inline
        ></script>
        <!-- WebSSH JS -->
        <script src="/js/client/webssh.min.js" is:inline></script>
    </body>
</html>
