---
import Head from "../../components/_head.astro";
import Scripts from "../../components/_scripts.astro";
import LoadingComponent from "../../components/_loading.jsx";

const title = "Bug Report";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <Head title={title} />
    </head>
    <!-- Body Part -->

    <body
        class="hold-transition sidebar-mini layout-fixed dark-mode"
        data-panel-auto-height-mode="height"
    >
        <LoadingComponent client:load/>
        <!-- Content Wrapper. Contains page content -->
        <div class="wrapper">
            <section class="content">
                <div class="container-fluid">
                    <!-- Default box -->
                    <div class="card">
                        <div class="card-body row">
                            <div
                                class="col-5 text-center d-flex align-items-center justify-content-center"
                            >
                                <div class="">
                                    <h2>Light<strong>APT</strong></h2>
                                    <p class="lead mb-5">
                                        邮箱：astro_air@126.com<br />
                                    </p>
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="form-group">
                                    <label for="inputName">姓名</label>
                                    <input
                                        type="text"
                                        id="inputName"
                                        class="form-control"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail">邮箱</label>
                                    <input
                                        type="email"
                                        id="inputEmail"
                                        class="form-control"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="inputSubject">BUG</label>
                                    <input
                                        type="text"
                                        id="inputSubject"
                                        class="form-control"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="inputMessage">信息</label>
                                    <textarea
                                        id="inputMessage"
                                        class="form-control"
                                        rows="4"></textarea>
                                </div>
                                <div class="form-group">
                                    <input
                                        type="submit"
                                        class="btn btn-primary"
                                        value="发送"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- jQuery -->
        <script src="../../node_modules/jquery/dist/jquery.min.js" is:inline
        ></script>
        <!-- Bootstrap 4 -->
        <script
            src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"
            is:inline></script>
        <!-- overlayScrollbars -->
        <script
            src="../../node_modules/overlayscrollbars/js/jquery.overlayScrollbars.min.js"
            is:inline></script>
        <script is:inline>
            $(function () {
                $("body").overlayScrollbars({});
            });
        </script>
        <!-- AdminLTE App -->
        <script src="/js/adminlte.min.js" is:inline></script>
    </body>
</html>
