---
import Head from "../../components/_head.astro";
import Scripts from "../../components/_scripts.astro";
const title = "Lithium License";
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={title} />
    <style>
      .content {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        *word-wrap: break-word;
        *white-space: normal;
      }
    </style>
  </head>
  <!-- Body Part -->

  <body class="dark-mode container-fluid">
    <div class="card mb-3 card-primary card-outline">
      <div class="card-header">
        <div class="card-title">
          ElementAstro 使用的开源库和软件
          <small class="badge badge-success"
            ><i class="fas fa-book"></i> 依赖库</small
          >
        </div>
        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="collapse"
            title="Collapse"
          >
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="container">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">库名</th>
                <th scope="col">链接</th>
              </tr>
            </thead>
            <tbody id="library-list">
              <!-- Table rows will be dynamically populated here -->
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer text-muted">
        <a href="https://github.com/ElementAstrp/LithiumLibrary">查看源代码</a>
      </div>
      </div>
      <div id="license-container"></div>

      <Scripts />
      <script is:inline>
        $(document).ready(function () {
          var libraries = [
            {
              name: "CImg",
              link: "https://github.com/GreycLab/CImg/releases/tag/v.3.2.3",
            },
            { name: "libzippp", link: "https://github.com/ctabin/libzippp" },
            { name: "loguru", link: "https://github.com/emilk/loguru" },
            {
              name: "magic_enum",
              link: "https://github.com/Neargye/magic_enum",
            },
            {
              name: "nlohmann json",
              link: "https://github.com/nlohmann/json/releases/tag/v3.11.2",
            },
            // Add more libraries here
          ];

          libraries.forEach(function (library) {
            var row =
              "<tr><td>" +
              library.name +
              '</td><td><a href="' +
              library.link +
              '" target="_blank">' +
              library.link +
              "</a></td></tr>";
            $("#library-list").append(row);
          });
        });
        $(document).ready(function () {
          $.ajax({
            url: "/license",
            type: "GET",
            dataType: "text",
            success: function (data) {
              showLicense(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
              console.log("Error: " + textStatus + " - " + errorThrown);
            },
          });
        });

        function showLicense(data) {
          var license = data;

          var card = `<div class="card mb-3 card-primary card-outline">
                <div class="card-header">
                  <div class="card-title">
                    GPL 证书
                    <small class="badge badge-success"><i class="fas fa-book"></i> 传播性</small>
                    <small class="badge badge-danger"><i class="fas fa-timer"></i> V3</small>
                  </div>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body ">
                    <p class="card-text content">
                        <pre>${license}
                            </pre></p>
                </div>
                <div class="card-footer text-muted">Copyright (C) 2023-2024 Max Qian <lightapt.com></div>
            </div>`;

          $("#license-container").append(card);
        }
      </script>
    </div>
  </body>
</html>
