---
import Head from "../components/_head.astro";
import Scripts from "../components/_scripts.astro";
import Nav from "../components/_nav.astro";
import Modal from "../components/_modal.astro";
const title = "Lithium Web Client";
const version = "1.0.0";
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={title} />
  </head>
  <!-- Body Part -->

  <body
    class="hold-transition sidebar-mini layout-fixed dark-mode"
    data-panel-auto-height-mode="height"
  >
    <div class="wrapper">
      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-dark">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <!-- Control of Silder Bar -->
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"
              ><i class="fas fa-bars"></i></a
            >
          </li>
          <!-- Home -->
          <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">主页</a>
          </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <button id="language-toggle" class="btn btn-primary fas fa-language">
              <span class="icon"></span>
              <span class="text">中文</span>
            </button>
          </li>
          <!-- Fullscreen Toggle -->
          <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
              <i class="fas fa-expand-arrows-alt"></i>
            </a>
          </li>
          <!-- ./ Fullscreen Toggle -->
          <li class="nav-item">
            <a
              class="nav-link"
              data-widget="control-sidebar"
              data-slide="true"
              href="#"
              role="button"
            >
              <i class="fas fa-table"></i>
            </a>
          </li>
        </ul>
      </nav>

      <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Lithium Logo -->
        <a href="/client" class="brand-link">
          <img
            src="/textures/icon.ico"
            alt="Lithium Logo"
            class="brand-image img-circle elevation-3"
            style="opacity: .8"
          />
          <span class="brand-text font-weight-light">Lithium</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <!-- Don't forget this from doc -->
            <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
            <ul
              class="nav nav-pills nav-sidebar flex-column"
              data-widget="treeview"
              role="menu"
              data-accordion="false"
              id="navMenu"
            >
            </ul>
          </nav>
        </div>
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div
        class="content-wrapper iframe-mode bg-dark"
        data-widget="iframe"
        data-auto-dark-mode="true"
        data-loading-screen="750"
      >
        <!-- Close button to close opened frames -->
        <div
          class="nav navbar navbar-expand navbar-dark border-bottom border-dark p-0"
        >
          <div class="nav-item dropdown">
            <a
              class="nav-link bg-danger dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false">关闭</a
            >
            <div class="dropdown-menu mt-0">
              <a
                class="dropdown-item"
                href="#"
                data-widget="iframe-close"
                data-type="all">关闭所有</a
              >
              <a
                class="dropdown-item"
                href="#"
                data-widget="iframe-close"
                data-type="all-other">关闭除外所有</a
              >
            </div>
          </div>
          <a class="nav-link bg-dark" href="#" data-widget="iframe-scrollleft"
            ><i class="fas fa-angle-double-left"></i></a
          >
          <ul class="navbar-nav overflow-hidden" role="tablist"></ul>
          <a class="nav-link bg-dark" href="#" data-widget="iframe-scrollright"
            ><i class="fas fa-angle-double-right"></i></a
          >
          <a class="nav-link bg-dark" href="#" data-widget="iframe-fullscreen"
            ><i class="fas fa-expand"></i></a
          >
        </div>

        <div class="tab-content">
          <div class="tab-empty">
            <h2 class="display-4">未选择组件</h2>
          </div>
          <div class="tab-loading">
            <div>
              <h2 class="display-4">
                组件正在加载中
                <i class="fa fa-sync fa-spin"></i>
              </h2>
            </div>
          </div>
        </div>
      </div>

      <footer class="main-footer dark-mode text-sm">
        <strong
          >Copyright &copy; 2022-2024 <a href="https://lightapt.cn">Lithium</a
          >.</strong
        >
        Max Qian All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
          <b>Version</b> {version}
        </div>
      </footer>

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>

    <Modal />

    <Scripts />
    <!-- UI custom -->
    <script src="/js/client/client.js" is:inline></script>
    <script is:inline>
      // 点击切换按钮时触发事件
      $("#language-toggle").click(function () {
        var text = $(this).find(".text");
        var icon = $(this).find(".icon");

        // 切换文本和图标
        if (text.text() === "中文") {
          text.text("English");
          icon.removeClass("fa-language").addClass("fa-globe");
        } else {
          text.text("中文");
          icon.removeClass("fa-globe").addClass("fa-language");
        }

        // TODO: 执行切换语言的逻辑
      });
    </script>
    <Nav />
  </body>
</html>
