---
import Head from "../components/_head.astro";
import ConfigComponent from "../components/config";

const title = "Lithium Web Client - Config";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <Head title={title} />
    </head>
    <!-- Body Part -->

    <body
        class="hold-transition sidebar-mini layout-fixed dark-mode"
        data-panel-auto-height-mode="height"
    >
        <ConfigComponent client:load />

        
    </body>
</html>
