<!--

   Copyright(c) 2022-2023 Max Qian  <astroair.cn>

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
--><!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,user-scalable=no"
    />

    <title>星空猎手</title>

    <link
      rel="icon"
      sizes="16x16"
      type="image/icon"
      href="/textures/icon.ico"
    />

    <link rel="stylesheet" type="text/css" href="/css/client/index.css" />

    <script src="/js/client/particles.min.js" is:inline></script>
  </head>

  <body>
    <div id="particles-js"></div>
    <div id="welcome">
      <h1>Welcom to LightAPT</h1>
      <p>
        使用星空猎手服务器可以合理的调度您的天文设备。<br
        />只需连接您的设备，即可体验宇宙。
      </p>
      <a id="connect" href="/client">网络工具</a>
      <p style="width:70%;display:block;float:left;">
        多种多样的功能等待您去体验
      </p>
      <p
        id="version"
        style="font-size:1.5em;font-weight:bold;width:30%;display:block;float:left;text-align:right;"
      >
      </p>
      <div id="credits">
        <a style="vertical-align:top;">技术支持</a>
        <a href="https://www.raspberrypi.org/" target="_blank" rel="noopener"
          ><img
            src="/textures/icons/raspberry-pi.png"
            alt="Raspberry Pi"
            title="Raspberry Pi"
          /></a
        >
        <a href="http://indilib.org/" target="_blank" rel="noopener"
          ><img src="/textures/icons/indilib.png" alt="INDI" title="INDI" /></a
        >
        <a href="https://edu.kde.org/kstars/" target="_blank" rel="noopener"
          ><img
            src="/textures/icons/kstars.png"
            alt="KStars"
            title="KStars"
          /></a
        >
        <a href="https://kanaka.github.io/noVNC/" target="_blank" rel="noopener"
          ><img src="/textures/icons/novnc.png" alt="noVNC" title="noVNC" /></a
        >
      </div>
      <a id="logo" href="https://lightapt.cn/" target="_blank" rel="noopener"
        >v2.0.0</a
      >
    </div>
  </body>
  <script is:inline>
    particlesJS.load("particles-js", "json/particles.json", function () {
      console.log("callback - particles.js config loaded");
    });
  </script>
</html>
