#legend {
	text-align: center;
	font-family: 'Roboto Light', Arial, Helvetica, sans-serif;
	font-size: 0.80em;
}

#polaris,
#moon,
#sun,
#planets {
	width: 480px;
	margin-top: 10px;
}

#reticle {
	width: 280px;
	background-image: url('/static/textures/icons/reticle.png');
	background-repeat: no-repeat;
	background-size: 280px;
	display: block;
	overflow: hidden;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}

#polaris_marker {
	width: 280px;
}

.polarishdr {
	width: 120px;
}

.polarisdata {
	text-align: right;
}

#moon {
	display: none;
}

#moon img {
	width: 150px;
	margin: 50px 20px 0px 0px;
	float: left;
}

.moonhdr {
	width: 180px;
}

.moondata {
	text-align: right;
}


.sunhdr {
	width: 180px;
}

.sundata {
	text-align: right;
}

#planets {
	display: none;
}

#planets img {
	margin-top: 30px;
}

.planetshdr {
	width: 80px;
}

.planetshdrdata {
	width: 75px;
	text-align: right;
	font-weight: bold;
}

.planetsdata {
	text-align: right;
}

.img-responsive {
	display: block;
	height: auto;
	max-width: 100%;
}