.app-header{
    width: 100vw;
    height: 36px;
    // background-color: #333;
    background-color: #4a83b8;
    display: flex;
    align-items: center;
    padding: 12px;
    &-title{
        color:#ffffff;
        margin-left: 10px;
        font-weight: 900;
        font-size: 28px;
    }
}